<h1>Photo Feed App</h1>

<% if @user_id %> 
  <p>User ID: <%= @user_id %></p>
  <p>Username: <%= @user.username %></p>
  <p>Name: <%= @user.realname %></p>
  <p>Location: <%= @user.location %></p>
  
  <% @urls.each do |url| %>
    <%= image_tag(url) %><br>
  <% end %>

<% else %>
  <%= form_with(url: root_path, method: "get", local: true) do %>
    <%= label_tag(:user_id, "User ID") %>
    <%= text_field_tag(:user_id) %><br>

    <%= submit_tag("Get photos") %>
  <% end %>
<% end %>
